* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: Inter sans-serif;
}
::marker {
    color: #61dafb;
    size: 22px;
}
nav {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 30px;
}
.react-logo {
    width: 10%;
    height: 100%;
    margin-right: 10px;
}
main {
   padding: 50px;
   background-image: url("images/half-react.png");
   background-repeat: no-repeat;
   background-position: right 60%;
}
.facts_title {
    color: #61dafb;
    margin: 0;
    margin-right: auto;
    font-weight: 700;
    font-size: 27px;
}
.course_title {
    color: black;
    margin: 0;
    margin-right: auto;
    font-weight: 600;
    font-size: 22px;
}

.main_facts li {
    margin: 50px;
}