body {
    background-color: rgb(8, 59, 121);
}

#container {
    background-color: gray;
    height: 200px;
    width: 40%;
    box-shadow: 8px 5px silver;
    border: 2px black solid;
}

.stats {
   flex: auto;
   text-align: center;
   border: solid black 2px;
    display: flex;
}
#health {
    flex: auto;
    justify-content: space-between;
}
#XP {
    flex: auto;
    justify-content: space-between;   
}

#gold {
    flex: auto;
    justify-content: space-between;
}


button {
    margin: 0;
    flex: auto;
    background-color: rgb(48, 42, 42);
    color: white;
}
#window {
    margin-top: 4em;
    padding: 2em;
    background-color: black;
    color: white;
}

.options {
    margin: 0.2em;
    padding: 0.1em;
    border: 0.2px black solid;
    background-color: black; 
    color: white;

}
.options:hover {
    background-color: red;
}
