body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 2rem 4%;
    background-image: url("Morocco.png");
    background-size: cover;
    background-color: #d0c1c1;
    color: #333;
  
}




h2{
    color: #d0c1c1;
    text-shadow: 1px 1px 2px white, -1px -1px 2px black;
}


#about_us{
    box-shadow:  10px 8px   #333;;
    font-size: larger;
    font-family:  'Helvetica Neue', sans-serif;
}
.welcome {
    font-size: 3rem;
    text-align: center;
    color: red;
    animation: change 2s infinite ease-out;
}
    
@keyframes change{
    0%   { opacity: 0.5; ;
    }
      100% {color: yellowgreen; opacity: 1; font-style:oblique ;
        
    }
        }


header > img{
    opacity: 0.9;
    display: block;
    margin: 0 auto;
    animation: rotate 2s ease-in-out infinite;
    
}
article > img {
    flex-wrap: wrap;
    border:rgb(15, 11, 67) solid 2px;
    animation: myanimation 2s ease-in;
}

@keyframes myanimation {
    0%   {top: 0px;  opacity: 0.2;}
  100% {top: 100%; opacity: 1;}
    }

@keyframes rotate {
 
    0% {
            transform: rotate(360deg);
          }
    100% {
            transform: rotate(0deg);
            
          }
      }
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    box-shadow: 2px 2px royalblue;
    }

li > a, li {
    display: inline-block;
    font-size: 2rem;
    margin-left: 5rem;
    list-style: none;
    text-decoration: none;
    text-align: center;
    color: white;
    
    

}
a:hover{
    color: crimson;
    text-align: center;
}
section{
    display: flex;
}

article {
    flex: 1;
}
footer {
    display: flex;
   
}
footer  div {
    flex: 1;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    box-shadow:  2px 2px royalblue;
   
}
